{% extends "layout.html" %} {% block content %}
<div class="bg-slate-100 px-4 md:px-10 mx-auto w-full mt-20 mb-14">
  <div>
    <div class="relative bg-blueGray-100">
      <div class="mx-auto w-full mt-5">
        <div>
          <div class="flex flex-wrap">
            <div
              class="card-info w-full lg:w-6/12 xl:w-3/12 px-4 mb-8 2x:w-3/12"
            >
              <div
                class="h-full h-full relative flex flex-col min-h-full break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-sm">
                        Saldo
                      </h5>
                      <span class="font-semibold text-2xl text-blueGray-700"
                        >Rp. {{ '{:,.0f}'.format(saldo) }}</span
                      >
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500"
                      >
                        <i class="far fa-arrow-down"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-base text-blueGray-400 m-3">
                  <span class="mr-2">
                      {% if saldo_kemarin_percent is defined and saldo_kemarin_percent is number %}
                          {% if saldo_kemarin_percent < 0 %}
                              <i class="fas fa-arrow-down text-red-500"></i> {{ saldo_kemarin_percent }}%
                          {% elif saldo_kemarin_percent > 0 %}
                              <i class="fas fa-arrow-up text-emerald-500"></i> {{ saldo_kemarin_percent }}%
                          {% else %}
                              {{ saldo_kemarin_percent }}%
                          {% endif %}
                      {% else %}
                        Data tidak valid
                      {% endif %}
                </span>
                  <span class="whitespace-nowrap">Dari Kemarin</span>
                </p>
              </div>
            </div>
            <div
              class="card-info w-full lg:w-6/12 xl:w-3/12 px-4 mb-8 2x:w-3/12"
            >
              <div
                class="h-full relative flex flex-col min-h-full break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-sm">
                        Pengeluaran Hari ini
                      </h5>
                      <span class="font-semibold text-2xl text-blueGray-700"
                        >Rp. {{ '{:,.0f}'.format(pengeluaran_hari_ini) }}</span
                      >
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500"
                      >
                        <i class="fas fa-arrow-up"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-base text-blueGray-400 m-3">
                  <span class="mr-2">
                    {% if pengeluaran_kemarin_percent is defined and pengeluaran_kemarin_percent is number %}
                          {% if pengeluaran_kemarin_percent < 0 %}
                              <i class="fas fa-arrow-down text-red-500"></i> {{ pengeluaran_kemarin_percent }}%
                          {% elif pengeluaran_kemarin_percent > 0 %}
                              <i class="fas fa-arrow-up text-emerald-500"></i> {{ pengeluaran_kemarin_percent }}%
                          {% else %}
                              {{ pengeluaran_kemarin_percent }}%
                          {% endif %}
                      {% else %}
                        Data tidak valid
                      {% endif %}
                </span>
                  <span class="whitespace-nowrap">Dari Kemarin</span>
                </p>
              </div>
            </div>
            <div
              class="card-info w-full lg:w-6/12 xl:w-3/12 px-4 mb-8 2x:w-3/12"
            >
              <div
                class="h-full relative flex flex-col min-h-full break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-sm">
                        Pemasukan Hari ini
                      </h5>
                      <span class="font-semibold text-2xl text-blueGray-700"
                        >Rp. {{ '{:,.0f}'.format(pemasukan_hari_ini) }}</span
                      >
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500"
                      >
                        <i class="fas fa-shopping-cart"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-base text-blueGray-400 m-3">
                  <span class="mr-2">
                      {% if pemasukan_kemarin_percent is defined and pemasukan_kemarin_percent is number %}
                          {% if pemasukan_kemarin_percent < 0 %}
                              <i class="fas fa-arrow-down text-red-500"></i> {{ pemasukan_kemarin_percent }}%
                          {% elif pemasukan_kemarin_percent > 0 %}
                              <i class="fas fa-arrow-up text-emerald-500"></i> {{ pemasukan_kemarin_percent }}%
                          {% else %}
                              {{ pemasukan_kemarin_percent }}%
                          {% endif %}
                      {% else %}
                        Data tidak valid
                      {% endif %}
                  </span>
                  <span class="whitespace-nowrap">Dari Kemarin</span>
                </p>
              </div>
            </div>
            <div
              class="card-info w-full lg:w-6/12 xl:w-3/12 px-4 mb-8 2x:w-3/12"
            >
              <div
                class="h-full relative flex flex-col min-h-full break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-sm">
                        Pengeluaran Kemarin
                      </h5>
                      <span class="font-semibold text-2xl text-blueGray-700"
                        >Rp. {{ '{:,.0f}'.format(pengeluaran_kemarin) }}</span
                      >
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-emerald-500"
                      >
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-base text-blueGray-400 mt-4 m-3">
                  <span class="mr-2">
                      {% if pengeluaran_kemarin_luas_percent is defined and pengeluaran_kemarin_luas_percent is number %}
                          {% if pengeluaran_kemarin_luas_percent < 0 %}
                              <i class="fas fa-arrow-down text-red-500"></i> {{ pengeluaran_kemarin_luas_percent }}%
                          {% elif pengeluaran_kemarin_luas_percent > 0 %}
                              <i class="fas fa-arrow-up text-emerald-500"></i> {{ pengeluaran_kemarin_luas_percent }}%
                          {% else %}
                              {{ pengeluaran_kemarin_luas_percent }}%
                          {% endif %}
                      {% else %}
                        Data tidak valid
                      {% endif %}
                    </span>
                    <span class="whitespace-nowrap">Kemarin lusa</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full xl:w-full xl:mb-0 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
          <div class="rounded-t mb-0 px-4 py-3">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full max-w-full flex-grow flex-1">
                <h3 class="uppercase text-blueGray-400 mb-1 ml-3 text-xl font-semibold">
                  Overview
                </h6>
              </div>
            </div>
            <div class="p-4 flex-auto">
              <div class="relative h-350-px">
                <div class="chartjs-size-monitor">
                  <canvas id="chart-line" width="1000" height="350" class="chartjs-render-monitor" style="display: block; width: 1000px; height: 350px;"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto w-full mt-5">
      <div class="flex flex-wrap mt-4">
        <div class="w-full lg:mb-12 xl:mb-0 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
          >
            <div
              class="rounded-t mb-0 px-4 py-3 border-b-2 border-blueGray-200"
            >
              <div class="flex flex-wrap items-center justify-between">
                <div class="w-full px-4 max-w-full flex-grow flex-1">
                  <h3 class="font-semibold text-xl text-blueGray-700">
                    Log Aktivitas
                  </h3>
                </div>
              </div>
            </div>
            <div class="block w-full overflow-x-auto">
              <table class="items-center w-full bg-transparent border-collapse">
                <thead>
                  <tr>
                    <th
                      class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                    >
                      Type
                    </th>
                    <th
                      class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                    >
                      Nominal
                    </th>
                    <th
                      class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                    >
                      Tanggal
                    </th>
                    <th
                      class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                    >
                      Deskripsi
                    </th>
                    <th
                      class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                    >
                      Aksi
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in gabungkan %}
                  <p>
                    </p>  
                    <tr>
                      <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4 text-left"
                      >
                        {% if row.type == 'pemasukan' %}
                          <i class="fas fa-arrow-down text-emerald-500 mr-4"></i>

                        {% else %}
                          <i class="fas fa-arrow-up text-red-500 mr-4"></i>
                        {% endif %}
                        {{ row.type }}
                      </th>
                      <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4"
                      >
                        Rp. {{ '{:,.0f}'.format(row.jumlah) }}
                      </td>
                      <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4"
                      >
                        {{ row.tanggal }}
                      </td>
                      <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4"
                      >
                        {{ row.keterangan }}
                      </td>
                      <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4"
                      >
                        <a
                          href="/edit/{{ row.id }}"
                          class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        >
                          <i class="fas fa-edit"></i> Edit
                        </a>
                        <button
                          onclick="deleteData(`{{ row.id }}`)"
                          id="delete"
                          class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2"
                        >
                          <i class="fas fa-trash"></i> Hapus
                        </button>
                      </td>
                    </tr>
                    {% endfor %}

                  </p>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function deleteData(id) {
    console.log(id)
    fetch("delete/" + id, {
      method: "DELETE",
    })
      .then((res) => res.json())
      .then((res) => {
        console.log(res)
        if (res.status == "success") {
          window.location.reload();
        } else {
          alert("Gagal menghapus data");
        }
      }
      );
  }
</script>
<script>

  let dataPemasukanString = "{{ daily_pemasukan_data_list }}";
  let dataPengeluaranString = "{{ daily_pengeluaran_data_list }}";
  let dataPemasukan = JSON.parse(dataPemasukanString);
  let dataPengeluaran = JSON.parse(dataPengeluaranString);
  let newDataPemasukan = dataPemasukan.map((value) => value);
  let newDataPengeluaran = dataPengeluaran.map((value) => value);

  var ctx = document.getElementById("chart-line").getContext("2d");
  if (ctx) {
    var myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: [
          "Senin",
          "Selasa",
          "Rabu",
          "Kamis",
          "Jumat",
          "Sabtu",
          "Minggu",
        ],
        datasets: [
          {
            label: "Pemasukan",
            data: newDataPemasukan,
            backgroundColor: "rgba(3, 144, 252, 1)",
            borderColor: "rgba(3, 144, 252, 1)",
          },
          {
            label: "Pengeluaran",
            data: newDataPengeluaran,
            backgroundColor: "rgba(252, 3, 3, 1)",
            borderColor: "rgba(252, 3, 3, 1)",
          },
        ],
      },
      options: {
        animations: {
          tension: {
            duration: 4000,
            easing: "easeInOutBounce",
            from: 1,
            to: 0,
            loop: true,
          },
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  }
</script>
{% endblock %}
