<header class="shadow-md font-sans">
  <div
    class="flex flex-wrap items-center justify-between gap-4 px-10 py-4 relative bg-white min-h-[70px]"
  >
    <a href="{{ url_for('dashboard.home') }}" class="flex items-center">
      <h3 class="text-[20px] font-semibold">SAVE.MO</h3>
    </a>
    <div class="flex max-lg:ml-auto lg:order-1">
      <button id="toggle" class="lg:hidden">
        <svg
          class="w-7 h-7"
          fill="#000"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
    <ul
      id="collapseMenu"
      class="mr-24 lg:flex lg:space-x-4 max-lg:space-y-2 max-lg:hidden max-lg:py-4 max-lg:w-full justify-center flex-grow"
    >
      <li
        class="max-lg:border-b max-lg:py-2 px-3 max-lg:rounded sm:ml-5 border-b-2 p-3 border-[#007bff]"
      >
        <a
          href="{{ url_for('pengeluaran.pengeluaran') }}"
          class="block font-semibold text-[15px]"
          >Pengeluaran</a
        >
      </li>
      <li
        class="max-lg:border-b max-lg:py-2 px-3 max-lg:rounded sm:ml-5 border-b-2 p-3 border-[#007bff]"
      >
        <a
          href="{{ url_for('dashboard.home') }}"
          class="block font-semibold text-[15px]"
          >Home</a
        >
      </li>
      <li
        class="max-lg:border-b max-lg:py-2 px-3 max-lg:rounded sm:ml-5 border-b-2 p-3 border-[#007bff]"
      >
        <a
          href="{{ url_for('pemasukan.pemasukan') }}"
          class="block font-semibold text-[15px]"
          >Pemasukan</a
        >
      </li>
      <li
        class="max-lg:border-b max-lg:py-2 px-3 max-lg:rounded lg:hidden sm:ml-5"
      >
        <a
          href="{{ url_for('auth.logout') }}"
          class="lg:hover:text-[#007bff] text-[#333] block font-semibold text-[15px]"
          >Logout</a
        >
      </li>
    </ul>
    <a
      href="{{ url_for('auth.logout') }}"
      class="lg:hover:text-[#007bff] text-[#333] block font-semibold text-[15px] ml-auto lg:block hidden"
      >Logout</a
    >
  </div>
</header>
